<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Pokédex Vulma</title>
	<meta name="description" content="Pokédex creada con Vue y Bulma, alimentándose de PokéAPI">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.min.css">
	<link rel="stylesheet" href="https://unpkg.com/buefy/dist/buefy.min.css">
	<link rel="stylesheet" href="main.css">
</head>
<body>
<div class="container">
	<div class="columns is-mobile is-centered">
	<div class="column is-half-desktop is-narrow-mobile is-vcentered">
	<div class="box" id="app">
	    <b-autocomplete
                rounded
		clear-on-select
		keep-first
		position="is-bottom-left"
                v-model="name"
                :data="filteredDataArray"
                placeholder="e.g. Charizard"
                icon="magnify"
		@select="option => selected = option">
                <template slot="empty">Sin resultados</template>
            </b-autocomplete>
	<detalle :url="url" v-if="url"></detalle>
	</div>
	</div>
	</div>

	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	<script src="https://unpkg.com/buefy/dist/components/autocomplete"></script>
	<script src="main.js"></script>
</body>
</html>
