strong {
	font-weight: bold;
	color: white;	
}

#app {
	text-align: center;
	background-color: hsl(348, 100%, 61%);
}

.autocomplete {
	padding: 5%;
}

.detalle {
	color: white;
}

.imagen-box {
        width: 40px;
        height: 40px;
        margin-top: 5px;
	border: thin solid white;
	border-radius: 25% 10%;
}

.poke-nombre {
	font-size: x-large;
}

.poke-thumbnails li, .poke-tipo, .poke-visual {
	display: inline;
}

.poke-nombre, .poke-tipo, .poke-habilidad, .select, option {
	text-transform: capitalize;
}

